<?xml version="1.0" encoding="UTF-8"?>

<Context antiResourceLocking="false" privileged="true" >
  <Valve className="org.apache.catalina.valves.RemoteAddrValve"
         allow="192\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1" />
  

    <Resource name="jdbc/project"
              auth=""
              type="javax.sql.DataSource"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="YOUR_DATABASE_URL"
              username="YOUR_USERNAME"
              password="YOUR_PASSWORDX"
	/>
    
</Context>
